body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    text-align: center;
}

.hero {
    padding: 80px 20px;
    background: linear-gradient(to right, #00f2ff, #00ff9d);
    color: black;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    margin: 15px 0;
}

section {
    padding: 50px 20px;
}

h2 {
    color: cyan;
}

.architecture-img {
    width: 60%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 0 20px cyan;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px;
}

.tech {
    font-size: 18px;
    color: yellow;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    background: cyan;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

footer {
    padding: 20px;
    background: #111;
    margin-top: 40px;
}
